/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  --borderRadius-lg: 18px;
  --borderRadius-sm: 8px;
  --borderRadius-xl: 100px;
  --color-text-primary: #ffffff;
  --color-text-secondary: #2d2d2d;
  --bgColor-primary: #ffffff;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
}

.chatbot {
  width: 416px;
  height: 629px;
  background: var(--bgColor-primary);
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
  border-radius: var(--borderRadius-lg);
}

/* SECTION: intro */
.intro {
  width: 416px;
  height: 278px;
  background: -o-linear-gradient(326.25deg, #f5821f 1.87%, #ff5c00 120.46%);
  background: linear-gradient(123.75deg, #f5821f 1.87%, #ff5c00 120.46%);
  border-radius: var(--borderRadius-lg) var(--borderRadius-lg) 0px 0px;
  color: var(--color-text-primary);
  padding: 20px 0 0 56px;
}

.intro__logo-text {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 7px;
}

.intro__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro__title img {
  width: 25px;
  height: 25px;
  margin-left: 18px;
}

.intro__desc {
  width: 228px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

/* SECTION: questions */
.questions {
  position: relative;
  width: 390px;
  height: 400px;
  background: var(--bgColor-primary);
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: var(--borderRadius-sm);
  margin-left: 13px;
  margin-top: -79px;
  padding: 47px 25px 21px 24px;
}

.robot-img-wrapper {
  height: 67px;
  width: 67px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ff7600),
    to(#ff5c00)
  );
  background: -o-linear-gradient(top, #ff7600 0%, #ff5c00 100%);
  background: linear-gradient(180deg, #ff7600 0%, #ff5c00 100%);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  padding-left: 15px;
  padding-top: 18px;
  position: absolute;
  top: -34px;
  left: 25px;
}

.questions__heading {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.questions__heading img {
  width: 21px;
  height: 21px;
  margin-left: 7px;
}

.questions__list {
  padding: 0;
  list-style: none;
}

.questions__list-item {
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: var(--borderRadius-sm);
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  padding-top: 14px;
  padding-left: 26px;
  margin-bottom: 9px;
  background-image: url('./images/listitem-marker.svg');
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 14px;
}

.questions__start-btn {
  width: 268px;
  height: 44px;
  margin: 0 auto;
  margin-top: 29px;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: var(--borderRadius-xl);
  background: var(--bgColor-primary);
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.questions__start-btn img {
  margin-right: 5px;
}
